<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  (mapClick)="mapClicked($event)"
  >
  <agm-marker
    *ngFor="let m of markers; let i = index"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    >
    <agm-info-window>
      <strong>id:{{m.id}}</strong>
      <strong>緯度・経度</strong>
      <input class='form-control' type='text' [(ngModel)]="m.lat">
      <input class='form-control' type='text' [(ngModel)]="m.lng">
      <button class='btn btn-info' (click)='saveMarker(m.id)'>登録</button>
      <button class='btn btn-default' (click)='deleteMarker(m.id)'>削除</button>
    </agm-info-window>
  </agm-marker>
</agm-map>
